@import "_style.scss";

.combo-wrap {
  min-width: fit-content;
  overflow-y: visible;
  width: 100%;
}

.combo {
  position: relative;
  min-width: fit-content;
  width: 100%;
}

.combo__text {
  @include padding-bottom--2xs;
  @include font--basic;
  min-width: fit-content;
}

.combo-title {
  // @include padding-right--xs;
}

.combo-container {
  display: none;
  overflow-y: auto;
  z-index: 1000;
  position: absolute;
  height: 200px;
  background-color: $backgraound-white;
  border: 1px solid $border-surport;
  box-shadow: 0 2px 4px 0 rgba($color: $backgraound-black, $alpha: 0.1);
  &.combo-container--active {
    display: block;
  }
}

.combo-container__item {
  @include padding--xs;
  @include font--sm;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    background-color: rgba($color: $backgraound-hover, $alpha: 0.5);
  }
  &:active {
    color: $primary;
  }
  &.combo-container__item--selected {
    color: $primary;
    font-weight: 500;
  }
}

.combo-wrap--disabled {
  opacity: 0.5;
}
