@import '_style.scss';

.date-picker-selector{
    border: 1px solid $border-primary;
    border-radius: 2px;
    height: 34px;
    @include padding-left--xs;
    // width: min-content;
}

.date-picker-selector__input{
    border: none;    
    height: 32px;
    width: 70px;
}

.date-picker-selector__button{
    border-left: 1px solid $border-primary;
    border-radius: 0;
}