// @import '_style.scss';
@import '_common.scss';

@import '_button.scss';
@import '_checkbox.scss';
@import '_commbobox.scss';
@import '_date-picker.scss';
@import '_editor.scss';
@import '_floating.scss';
@import '_form.scss';
@import '_inform.scss';
@import '_information.scss';
@import '_input.scss';
@import '_loader-spinner.scss';
@import '_modal.scss';
@import '_pagenation.scss';
@import '_select.scss';
@import '_table.scss';
@import '_tag.scss';
@import '_title.scss';
@import '_toogle.scss';